NODE_ENV
AXIOM_TOKEN
AXIOM_DATASET
MONGO_URI
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY
IS_TEJAS_STUPID
CLERK_WEBHOOK_SIGNING_SECRET
OPENAI_API_KEY
TAVILY_API_KEY
ICONS_PINECONE_INDEX
DEFAULT_EMBEDDING_MODEL
PINECONE_API_KEY
